

.app__hero-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     height: 100%;
     text-align: center;
     padding: 50px;
     box-sizing: border-box;
}

.app__hero-h1 {
     /* font-family: var(--font-five); */
     color: var(--color-white);
     font-weight: 500;
     letter-spacing: 0.04em;
     text-transform: capitalize;
     line-height: 50px;
     font-size: 40px;
 }

 .app__hero-h2 {
     color: var(--color-tertiary);
     font-weight: 100;
 }

.app__hero-img img{
     max-width: 100px;
     max-width: 100px;
     height: auto;
     width: auto;
     margin: 10px;
     filter: brightness(1.4);
}

.style-eight {
     overflow: visible; 
     padding: 0;
     border: none;
     border-top: medium double var(--color-accent);
     color: var(--color-white);
     text-align: center;
     width: 50%;
 }

 .style-eight:after {
      content: "ℤ";
      display: inline-block;
     position: relative;
     top: -0.7em;
     font-size: 1.5em;
     padding: 0 0.7em;
     color: var(--color-white);
     font-weight: bold;
 }

.app__hero-desc{
     margin: 0 0 1.5rem 0;
     width: 40%;
     text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

@media screen and (max-width: 650px) {
     .app__hero-h1{
          font-size: 60px;
          line-height: 60px;
     }

     .app__hero-desc{
          width: 90%;
     }

     .style-eight {
          /* margin-top: 1rem; */
          width: 90%;
     }
}

@media screen and (max-width: 450px) {

     .app__hero-img img{
          display: flex;
     }


}

