.app__hero-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     height: 100%;
     text-align: center;
     padding: 50px;
     box-sizing: border-box;
}

.app__hero-img img{
     max-width: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
    margin: 10px;
}