.app__booking {
    padding: 2rem 4rem;
    border: 1px solid var(--color-accent);
    background: var(--color-black);
    width: 80%;
}

.app__booking-heading {
    text-align: center;
}

.app__booking-button {
    flex-direction: row;
    margin-top: 3rem;
}

.app__booking-button svg {
    color: var(--color-white);
    width: max-content;
    cursor: pointer;
}

.app__booking-button svg:hover {
    color: var(--color-accent);
    transition: ease-in 0.2s;
}

.app__booking-button img {
    cursor: pointer;
    width: 200px;
}

.app__booking-button a :hover {
    transform: perspective(1000px) rotateY(45deg);
    transition: 0.3s ease;
}

.app__booking-insta {
    text-decoration: underline;
}


@media screen and (max-width: 990px) {
    .app__booking-button {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__booking {
        padding: 2rem 0;
        border: none;
    }
}

@media screen and (max-width: 300px) {
    .app__booking-heading h1 {
        font-size: 32px;
        line-height: 50px;
    }
}